%ul.items
  - for item in items
    %li
      = link_to item do
        - if item.attachments.any?
          = image_tag(item.attachments[item.main_image].image.thumb.url) 
        - else
          = image_tag("no_image.jpg")
      %span.title= link_to truncate(item.title, :length => 20), item
      = link_to item.category.name, category_path(item.category)
      %span.price= item.price
